<div class="well well-lg">
  <h3 class="panel-title">Manage Your Satis Repository</h3>
  <br />

  <div>
    <!-- Add -->
    <div class="row">
      <div class="col-lg-2">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="addType" placeholder="Type">
        </div>
      </div>
      <div class="col-lg-7">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="addUrl" placeholder="Url">
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group">
          <button type="submit" class="btn btn-success" ng-click="addRepo()">Add</button>
        </div>
      </div>
    </div>

    <br />
    <!-- Manage -->
    <div class="row" ng-repeat="repo in repos">
      <div class="col-lg-2">
        <div class="form-group">
          <input type="text" id="{{repo.id}}" class="form-control" placeholder="Type" ng-model="repo.type">
        </div>
      </div>
      <div class="col-lg-7">
        <div class="form-group">
          <input type="text" id="{{repo.id}}" class="form-control" placeholder="Url" ng-model="repo.url" disabled="disabled">
        </div>
      </div>
      <div class="col-lg-1">
        <div class="form-group">
          <button type="submit" class="btn btn-default" ng-click="saveRepo(repo.id, repo.type, repo.url)">Save</button>
        </div>
      </div>
      <div class="col-lg-1">
        <div class="form-group">
          <button type="submit" class="btn btn-danger" ng-click="deleteRepo(repo.id)">Delete</button>
        </div>
      </div>
    </div>


  </div>


</div>
